* {
    padding: 0;
    margin: 0;
}

.home {

    background: linear-gradient(rgb(250, 248, 251),rgba(246, 246, 246, 0.374)),url(freddybackround.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.welcome {
    border: solid 1px rgb(227, 13, 13);
    margin: 6rem;
    height: 50%;
    width: 50%;
    background-color: rgba(244, 241, 245, 0.998);
}

.title {
    text-align: center;
    font-size: 3rem;
}

.welcome-text {
  padding: 3rem 1rem;
  line-height: 2rem;
}

.color-white {
    color:rgb(233, 13, 13);
}
